body {
	padding-top: 70px;
}
.breadcrumb > li + li:before {
	padding: 0 5px;
	color: #ccc;
	content: none;
}

footer {
	text-align: center;
	color: #999
}
.pull-right .img-responsive {
	margin: 0 0 1em 1em;
}
.navbar-inverse .navbar-toggle {
 color: white;
 font-weight: bold;
 border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
 background-color: #ddd;
 color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
 color: white;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
 color: #333;
}